includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
       - '~and int will always evaluate to false~'
       - '~assertFalse\(\) with true will always evaluate to false~'
       - '~If condition is always true~'
