includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        - '~assertFalse\(\) with true will always evaluate to false~'
        - '~Array has 2 duplicate keys with value~'
        - '~If condition is always true~'
